{% extends "base.html" %}

{% block style %}
.form-container {
    background-color: #1E1E1E;
    padding: 70px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 550px;
    margin: 50px auto;
}
.form-container h2 {
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.form-control {
    background-color: #1F1F1F;
    border: 1px solid #333333;
    color: #FFFFFF;
}
.form-control:focus {
    background-color: #1F1F1F;
    color: #FFFFFF;
}
.form-control::placeholder {
    color: #757575;
}
.form-control:focus::placeholder {
    color: #FFAB91;
}
.form-check-label {
    color: #CCCCCC;
}
.btn-primary {
    font-weight: 600;
}
.text-muted {
    color: #B3B3B3 !important;
}
a {
    color: #FF5722;
    text-decoration: none;
}
a:hover {
    color: #E64A19;
    text-decoration: underline;
}
{% endblock %}

{% block body %}



<div class="form-container">
    
    <h2>Forgot Password</h2>
    {% include 'alerts.html' %}
    <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" placeholder="Enter an email address" name="email" id="email">
        </div>
      
        
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                {% comment %} <input type="checkbox" class="form-check-input" id="remember-me" name="remember_me"> {% endcomment %}
                {% comment %} <label class="form-check-label" for="remember-me">Remember me</label> {% endcomment %}
            </div>
            <a href="{% url 'login' %}" class="text-muted">Got Password? Login</a>
        </div>
        
        <button type="submit" class="btn btn-lg btn-primary w-100 mt-2">Submit</button>
    </form>
    <p class="text-muted text-center mt-5">Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
</div>


{% endblock %}
